.dub
docs.json
__dummy.html
docs/
out/
/inochi-creator
inochi-creator.so
inochi-creator.dylib
inochi-creator.dll
inochi-creator.a
inochi-creator.lib
inochi-creator-test-*
*.exe
*.o
*.obj
*.lst
*.res

build/
version.txt

dub.selections.json
testing

*.inx
*.inp
imgui.ini
settings.json

# Ignore binary translation files, we want to build those with CI.
*.mo
.vscode

.DS_Store

# WiX Install
build-aux/windows/wix/obj
build-aux/windows/wix/packages
build-aux/windows/wix/.vs
build-aux/windows/wix/bin
*.msi