/*
	Smaller header bar
*/
.titlebar {
    min-height: 24px;
}

.titlebutton {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

stackswitcher > button {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
	Rounded bottom corners
*/
decoration, window {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
}