name: 'Publish to GitHub'

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
        default: ${{ github.ref }}
      name:
        required: true
        type: string
      generate-notes:
        required: false
        type: boolean
        default: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4

    - name: 'Release to ${{ inputs.tag }}'
      uses: softprops/action-gh-release@v2
      with:
        name: '${{ inputs.name }}'
        tag_name: ${{ inputs.tag }}
        files: |
          build-linux-zip/out/inochi-creator-linux.zip
          build-win32-zip/out/inochi-creator-win32.zip
          build-osx-zip/out/inochi-creator-osx.zip
          build-win32-msi/out/inochi-creator-win32.msi
          build-osx-dmg/out/Install_Inochi_Creator.dmg
        generate_release_notes: ${{ inputs.generate-notes }}