name: 'Publish to GitHub'

permissions:
  contents: write

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
        default: ${{ github.ref }}
      name:
        required: false
        type: string
        default: ''
      generate-notes:
        required: false
        type: boolean
        default: false
      postfix:
        required: false
        type: string
        default: ''

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: '*${{ inputs.postfix }}'
        merge-multiple: true

    - name: 'Release to ${{ inputs.tag }}'
      uses: softprops/action-gh-release@v2
      with:
        name: '${{ inputs.name }}'
        tag_name: ${{ inputs.tag }}
        files: |
          out/inochi-creator-linux.zip
          out/inochi-creator-win32.zip
          out/inochi-creator-osx.zip
          out/inochi-creator-win32.msi
          out/Install_Inochi_Creator.dmg
        generate_release_notes: ${{ inputs.generate-notes }}